/*
主题色|ThemeColor
全局主要颜色，用于body|NoEnglish
*/

.noui-theme-blue {
	--theme-color: #0f8eef;
	--accent-color: #FFFFFF;
}

.noui-theme-lightblue {
	--theme-color: #03a9f4;
	--accent-color: #FFFFFF;
}

/*
背景色|BackgroundColor
和主题色一样的背景色，用于单一颜色|NoEnglish
*/

.noui-background-color {
	background-color: var(--theme-color);
	color: var(--accent-color);
}

/*
浅色模式及全局样式|LightMode And GlobalStyles
*/

body {
	padding: 0;
	margin: 0;
}

.noui-body {
	padding: 5px 15px;
}

:root {
	--radius: 5px;
}

/*
普通顶栏|TopBar
普通的顶栏，随滚动条滚动|NoEnglish
*/

.noui-topbar {
	position: relative;
	display: flex;
	background-color: var(--theme-color);
	color: var(--accent-color);
	width: 100%;
	height: 60px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, .15);
	padding: 0;
	align-items: center;
	z-index: 100;
	user-select: none;
}

/*>
固定顶栏|FixedTopBar
始终在页面顶部，不随滚动条滚动|NoEnglish
*/

.noui-topbar-fixed {
	display: flex;
	background-color: var(--theme-color);
	color: var(--accent-color);
	position: fixed;
	top: 0;
	width: 100vw;
	height: 60px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, .15);
	padding: 0;
	align-items: center;
	z-index: 100;
	user-select: none;
}

/*
普通悬浮顶栏|TopLevitationBar
普通的悬浮顶栏，随滚动条滚动|NoEnglish
*/

.noui-topbar-levitation {
	position: relative;
	top: 10px;
	border-radius: var(--radius);
	margin: auto;
	display: flex;
	background-color: var(--theme-color);
	color: var(--accent-color);
	width: calc(100% - 15px);
	height: 55px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, .15);
	padding: 0;
	align-items: center;
	z-index: 100;
	user-select: none;
}

/*
固定悬浮顶栏|FixedTopLevitationBar
始终在页面顶部，不随滚动条滚动|NoEnglish
*/

.noui-topbar-levitation-fixed {
	border-radius: var(--radius);
	left: 50%;
	transform: translate(-50%);
	display: flex;
	background-color: var(--theme-color);
	color: var(--accent-color);
	position: fixed;
	top: 10px;
	width: calc(100% - 15px);
	height: 55px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, .15);
	padding: 0;
	align-items: center;
	z-index: 100;
	user-select: none;
}

.noui-topbar-levitation-fixed-body {
	padding: 60px 15px 5px 15px;
}

/*
顶栏部件|TopBarComponents
顶栏中的各种部件，如:标题、图标等|NoEnglish
*/

.noui-topbar-title {
	font-weight: 600;
	font-size: 20px;
	margin: 0 10px;
}

/*
按钮|Button
*/

.noui-button {
	background-color: var(--theme-color);
	color: var(--accent-color);
	padding: 8px 12px;
	border: none;
	border-radius: var(--radius);
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*
卡片|Card
*/

.noui-card {
	border-radius: var(--radius);
	background: #FFFFFF;
	box-shadow: -12px 12px 24px #d6d6d6, 12px -12px 24px #FFFFFF;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*
链接下划线|Underline
MIT|https://github.com/NANGSOFT/css-underline
*/

@media screen and (min-width: 968px) {
	.noui-hover {
		position: relative;
		text-decoration: none;
	}

	.noui-hover:before {
		content: "";
		position: absolute;
		left: 50%;
		bottom: -2px;
		width: 0;
		height: 2px;
		background: var(--theme-color);
		transition: all .3s;
		transition-timing-function: ease;
		-webkit-transition-timing-function: ease;
	}

	.noui-hover:link {
		color: var(--theme-color);
	}

	.noui-hover:hover:before {
		width: 100%;
		left: 0;
		right: 0;
	}

	.noui-hover:visited {
		color: var(--theme-color);
	}
}

@media screen and (max-width: 967px) {
	.noui-hover {
		position: relative;
		text-decoration: none;
	}

	.noui-hover:before {
		content: "";
		position: absolute;
		left: 50%;
		bottom: -2px;
		width: 0;
		height: 2px;
		background: var(--theme-color);
		transition: all .3s;
		transition-timing-function: ease;
		-webkit-transition-timing-function: ease;
	}

	.noui-hover:link {
		color: var(--theme-color);
	}

	.noui-hover:active:before {
		width: 100%;
		left: 0;
		right: 0;
	}

	.noui-hover:visited {
		color: var(--theme-color);
	}
}

/*
右键菜单|Menu
*/
#noui-menu {
	width: 170px;
	border-radius: var(--radius);
	background: #FFFFFF;
	box-shadow: -12px 12px 24px #d6d6d6, 12px -12px 24px #FFFFFF;
	padding: 8px;
	visibility: hidden;
	position: absolute;
	z-index: 101;
	user-select: none;
}

#noui-menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#noui-menu li {
	padding: 10px 15px;
	cursor: pointer;
}

#noui-menu li:hover {
	border-radius: var(--radius);
	background-color: #f0f0f0;
}

/*
深色模式|DarkMode
*/

@media (prefers-color-scheme: dark) {
	body {
		background-color: #303030;
		color: #FFFFFF;
	}

	.noui-topbar,
	.noui-topbar-fixed,
	.noui-topbar-levitation,
	.noui-topbar-levitation-fixed,
	.noui-card,
	.noui-menu,
	#noui-menu {
		background-color: #212121;
	}

	.noui-card {
		color: #FFFFFF;
		box-shadow: none;
	}

	#noui-menu {
		color: #FFFFFF;
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
	}

	#noui-menu li:hover {
		background-color: #2d2d2d;
	}
}
