/*
主题色|ThemeColor
class(body): {noui-theme-blue/noui-theme-lightblue/noui-theme-purple/noui-theme-teal/noui-theme-green}
*/

.noui-theme-blue {
	--theme-color: #0f8eef;
	--accent-color: #FFFFFF;
}

.noui-theme-lightblue {
	--theme-color: #03a9f4;
	--accent-color: #FFFFFF;
}

.noui-theme-purple {
	--theme-color: #6344b9;
	--accent-color: #FFFFFF;
}

.noui-theme-lightpurple {
	--theme-color: #987be6;
	--accent-color: #FFFFFF;
}

.noui-theme-green {
	--theme-color: #53c010;
	--accent-color: #FFFFFF;
}

.noui-theme-lightgreen {
	--theme-color: #00bfa5;
	--accent-color: #FFFFFF;
}

.noui-theme-orange {
	--theme-color: #E65100;
	--accent-color: #FFFFFF;
}

.noui-theme-lightorange {
	--theme-color: #FF9100;
	--accent-color: #FFFFFF;
}

.noui-theme-yellow {
	--theme-color: #ffc400;
	--accent-color: #ffffff;
}

.noui-theme-lightyellow {
	--theme-color: #b3ff00;
	--accent-color: #FFFFFF;
}

/*
全局样式|GlobalStyles
data(body): data-radius="number"
*/

body:has(> .noui-topbar) {
	padding: 0;
	margin: 0;
}

body:not(:has(> .noui-topbar)) {
	padding: 5px 15px;
	margin: 0;
}

.noui-topbar + div {
	padding: 5px 15px;
	margin: 0;
}

.noui-topbar-fixed + div {
	padding: 60px 15px 0 15px;
	margin: 0;
}

:root {
	--radius: 5px;
}

p, .noui-card, .noui-dialog, a{
	word-wrap: break-word;
}

/*
顶栏|TopBar
class(body>div): noui-topbar+{none/fixed}+{none/levitation}
/*
普通顶栏|TopBar
*/

.noui-topbar {
	position: relative;
	display: flex;
	background-color: var(--theme-color);
	color: var(--accent-color);
	width: 100%;
	height: 60px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, .15);
	padding: 0;
	align-items: center;
	z-index: 100;
	user-select: none;
}

/*>
固定顶栏|FixedTopBar
*/

.noui-topbar.noui-topbar-fixed {
	display: flex;
	position: fixed;
	top: 0;
	height: 60px;
}

/*
悬浮顶栏|LevitationTopBar
*/

.noui-topbar.noui-topbar-levitation {
	top: 10px;
	border-radius: var(--radius);
	left: 50%;
	transform: translate(-50%);
	width: calc(100% - 15px);
	height: 55px;
}

/*
顶栏部件|TopBarComponents
class(body>div(class:noui-topbar)>span): noui-topbar-title
*/

.noui-topbar-title {
	font-weight: 600;
	font-size: 20px;
	margin: 0 10px;
}

/*
按钮|Button
class(any): noui-button
*/

.noui-button {
	background-color: var(--theme-color);
	color: var(--accent-color);
	padding: 8px 12px;
	border: none;
	border-radius: var(--radius);
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 10px;
	opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.noui-button:hover {
    opacity: 0.9;
}

/*
卡片|Card
class(div): noui-card
*/

.noui-card {
	border-radius: var(--radius);
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*
链接下划线|Underline
class(a): noui-hover
MIT|https://github.com/NANGSOFT/css-underline
*/

@media screen and (min-width: 968px) {
	.noui-hover {
		position: relative;
		text-decoration: none;
	}

	.noui-hover:before {
		content: "";
		position: absolute;
		left: 50%;
		bottom: -2px;
		width: 0;
		height: 2px;
		background: var(--theme-color);
		transition: all .3s;
		transition-timing-function: ease;
		-webkit-transition-timing-function: ease;
	}

	.noui-hover:link {
		color: var(--theme-color);
	}

	.noui-hover:hover:before {
		width: 100%;
		left: 0;
		right: 0;
	}

	.noui-hover:visited {
		color: var(--theme-color);
	}
}

@media screen and (max-width: 967px) {
	.noui-hover {
		position: relative;
		text-decoration: none;
	}

	.noui-hover:before {
		content: "";
		position: absolute;
		left: 50%;
		bottom: -2px;
		width: 0;
		height: 2px;
		background: var(--theme-color);
		transition: all .3s;
		transition-timing-function: ease;
		-webkit-transition-timing-function: ease;
	}

	.noui-hover:link {
		color: var(--theme-color);
	}

	.noui-hover:active:before {
		width: 100%;
		left: 0;
		right: 0;
	}

	.noui-hover:visited {
		color: var(--theme-color);
	}
}

/*
右键菜单|Menu
id(div): noui-menu
*/
#noui-menu {
	width: 170px;
	position: fixed;
	z-index: 1001;
	user-select: none;
}

#noui-menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#noui-menu li {
	padding: 10px 15px;
	cursor: pointer;
}

#noui-menu li:hover {
	border-radius: var(--radius);
	background-color: rgba(215, 215, 215, 0.45);
}

/*
对话框|Dialog
Use by JS
*/
.noui-dialog-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.noui-dialog {
	min-width: 320px;
	max-width: 450px;
	transform: translateY(50px);
	opacity: 0;
	transition: all 0.3s ease;
	overflow: hidden;
}

.noui-dialog.show {
	transform: translateY(0);
	opacity: 1;
}

.noui-dialog-title {
	margin: 0;
	padding: 5px 20px;
	font-size: 20px;
	font-weight: 600;
}

.noui-dialog-content {
	padding: 5px 20px;
	line-height: 1.5;
}

.noui-dialog-options {
	display: flex;
	justify-content: flex-end;
	padding: 0 20px;
}

/*
重要样式|ImportantStyles
class(any): noui-background-color/noui-background-glassmorphism/noui-ripple
*/

.noui-background-glassmorphism, .noui-card {
	background-color: rgba(255, 255, 255, 0.25);
	backdrop-filter: blur(10px);
	box-shadow: 0 3px 5px rgba(0, 0, 0, .15);
	color: rgba(0, 0, 0, 0.95);
}

.noui-background-color {
	background-color: var(--theme-color);
	color: var(--accent-color);
}

.noui-background-color.noui-card {
	box-shadow: none;
}

.noui-ripple-effect {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  transform: scale(0);
  animation: ripple-animation 0.6s linear;
  pointer-events: none;
  transform-origin: center;
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

/*
深色模式|DarkMode
*/

@media (prefers-color-scheme: dark) {
	body {
		background-color: #303030;
		color: #FFFFFF;
	}

	.noui-topbar,
	.noui-topbar-fixed,
	.noui-topbar-levitation,
	.noui-topbar-levitation-fixed {
		background-color: #212121;
	}

	.noui-background-glassmorphism, .noui-card {
		backdrop-filter: blur(20px);
		background-color: rgba(0, 0, 0, 0.35);
		color: rgba(255, 255, 255, 0.95);
	}

	.noui-background-color.noui-card {
		background-color: var(--theme-color);
		box-shadow: none;
	}

	#noui-menu li:hover {
		background-color: rgba(40, 40, 40, 0.45);
	}
	.noui-ripple-effect {
		background-color: rgba(255, 255, 255, 0.3);
	}
}